<% content_for :title, "Web掲示板" %>

<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ms-auto boards__linkBox">
    <%= link_to '新規作成', new_board_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover boards__table">
  <thead class="table-dark">
    <tr>
      <th>ID</td>
      <th>タイトル</td>
      <th>作成者</td>
      <th>作成日時</td>
      <th>更新日時</td>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.title %></td>
        <td><%= board.author_name %></td>
        <td><%= board.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= board.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= link_to '詳細', board, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', board, data: { 'turbo_method': :delete, turbo_confirm: "削除してよいですか？" }, class: 'btn btn-outline-dark' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>



